notes/MTH_NUM_PDE.aux
notes/MTH_NUM_PDE.bbl
notes/MTH_NUM_PDE.blg
notes/MTH_NUM_PDE.log
notes/MTH_NUM_PDE.pdf
notes/MTH_NUM_PDE.synctex.gz
notes/Membrane-eps-converted-to.pdf
notes/Mode1-eps-converted-to.pdf
notes/Mode2-eps-converted-to.pdf

